@theme "Arc-Dark"

configuration {
    show-icons: true;
    icon-theme: "elementary-xfce";
    font: "Iosevka Nerd Font 16";
    display-drun: "Search";
    matching: "prefix";
    tokenize: false;
    drun-match-fields: "name";
}

// Search bar
entry {
    placeholder: "";
}

// Icon size
element-icon {
    size: 32px;
}
// Icon text size
element-text {
    vertical-align: 0.5;
}

window {
    width: 75ch;
}
